/* .background {
    background-image: url("https://media.timeout.com/images/102596453/image.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
} */

body {
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
}

.row {
    margin-right: auto;
    margin-left: auto;
}

.bg-light {
    background-color: #edf0f2!important;
}

.bottom-margin {
    margin-bottom: 20px;
}

.jumbotron {
    opacity: 0.8;
    padding: 0px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* This is for the DropDown */
.p-3 {
    width: 320px;
}

p {
    margin-bottom: 0px;
}

.navbar {
  margin-bottom: 60px;
}

.navbar-brand {
    /* background-color: rgb(163, 173, 172); */
    width:60px;
    text-align: center;
    margin-left: 6px;
}

.nav-link:hover {
    background-color: rgb(235, 235, 235);
}

/* These are for the footer */
.center {
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0px;
    background-color: rgb(226, 226, 226);
    height: 40px;
}
.centerText {
    text-align: center;
}

/* these change font in Nav Bar */
.fontChange {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
}

.fontChangeBold {
    font-family: 'IBM Plex Sans', sans-serif;
}

@media (min-width: 1200px){
    .container {
        max-width: 100%;
    }
}

.col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

/* Dragula CSS */

.container {
    /* max-width: 960px; */
    margin: 0 auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .textAlignLeft {
    text-align: left;
    margin-left: 60px;
  }

  .left {
    float: left;
    position: relative;
    width: 945px;
    margin-left: 30px;
    height: 100%;
  }

  .right {
    float: right;
    position: relative;
    width: 283px;
    margin-right: 30px;
    height: 100%;
  }

  .arrowImageTop {
    margin-top: 125px;
    margin-left: 10px;
    opacity: .2;
  }
  
  .arrowImageBot {
    margin-top: 485px;
    margin-left: 10px;
  }

  .centerArrowTop {
    float: center;
    position: relative;
    width: 30px;
    margin-top: 0px;
    margin-right: 30%;
    margin-left: auto;
    height: 0px;
  }

  .centerArrowBot {
    float: center;
    position: relative;
    width: 30px;
    margin-top: 0px;
    margin-right: 30%;
    margin-left: auto;
    height: 0px;
  }

  /* #display {
    background: #2d2d2d;
    border: 10px solid #000000;
    border-radius: 5px;
    font-size: 2em;
    color: white;
    height: 100px;
    min-width:200px;
    text-align: center;
    padding: 1em;
    display:table-cell;
    vertical-align:middle;
  } */

  #drag-elements {
    display: block;
    background-color: #f2eded;
    border-radius: 50px;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 2em;
  }

  #drag-elements > div {
    text-align: center;
    float: left;
    padding: 1em;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    border: 4px solid #d8d8d8;
    background: #F7F7F7;
    transition: all .5s ease;
  }

  #drag-elements > div:active {
    -webkit-animation: wiggle 0.3s 0s infinite ease-in;
    animation: wiggle 0.3s 0s infinite ease-in;
    opacity: .6;
    border: 2px solid #000;
  }

  #drag-elements > div:hover {
    border: 4px solid gray;
    background-color: #e5e5e5;
  }

  /* DROP TARGET 1 ************************************* */
  /* Dead Characters */
  #drop-target {
    border: 2px dashed #D9D9D9;
    border-radius: 50px;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 2em;
    display: block;
    text-align: center;
  }

  #drop-target > div {
    transition: all .5s;
    text-align: center;
    float: left;
    padding: 1em;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    border: 4px solid rgb(124, 124, 124);
    background: rgb(209, 209, 209);
    transition: all .5s ease;
    opacity: .1;
  }

  #drop-target > div:active {
    -webkit-animation: wiggle 0.3s 0s infinite ease-in;
    animation: wiggle 0.3s 0s infinite ease-in;
    opacity: .6;
    border: 2px solid #000;
  }

  /* DROP TARGET 2 ************************************* */
  /* Champion Character */
  #drop-target2 {
    border: 2px dashed #D9D9D9;
    border-radius: 50px;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 2em;
    display: block;
    text-align: center;
  }

  #drop-target2 > div {
    transition: all .5s;
    text-align: center;
    float: left;
    padding: 1em;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    border: 4px solid rgb(154, 209, 143);
    background: #F7F7F7;
    transition: all .5s ease;
  }

  #drop-target2 > div:active {
    -webkit-animation: wiggle 0.3s 0s infinite ease-in;
    animation: wiggle 0.3s 0s infinite ease-in;
    opacity: .6;
    border: 2px solid #000;
  }

  /* DROP TARGET 3 ************************************* */
  /* Opponent Character */
  #drop-target3 {
    border: 2px dashed #D9D9D9;
    border-radius: 50px;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 2em;
    display: block;
    text-align: center;
  }

  #drop-target3 > div {
    transition: all .5s;
    text-align: center;
    float: left;
    padding: 1em;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    border: 4px solid #eda1a1;
    background: #F7F7F7;
    transition: all .5s ease;
  }

  #drop-target3 > div:active {
    -webkit-animation: wiggle 0.3s 0s infinite ease-in;
    animation: wiggle 0.3s 0s infinite ease-in;
    opacity: .6;
    border: 2px solid #000;
  }

  @-webkit-keyframes wiggle {
    0% {
      -webkit-transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(2deg);
    }
    75% {
      -webkit-transform: rotate(-2deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
    }
  }

  @keyframes wiggle {
    0% {
      transform: rotate(-2deg);
    }
    25% {
      transform: rotate(2deg);
    }
    75% {
      transform: rotate(-2deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    padding: 1em;
  }
  .gu-hide {
    display: none !important;
  }
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .gu-transit {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  .gu-mirror {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }

  /* Use this class to make grab hand icon */
    .grab {
        cursor: move;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

    .grab:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }


.inactiveLink {
  pointer-events: none;
  cursor: default;
}