/* .background {
    background-image: url("https://media.timeout.com/images/102596453/image.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
} */

body {
    text-align: center;
}

.row {
    margin-right: auto;
    margin-left: auto;
}

.container{
    margin-top: 60px;
}

.jumbotron {
    opacity: 0.8;
}

/* This is for the DropDown */
.p-3 {
    width: 320px;
}

.navbar-brand {
    /* background-color: rgb(163, 173, 172); */
    width:180px;
    text-align: center;
    margin-left: 20px;
}

.nav-link:hover {
    background-color: rgb(235, 235, 235);
}

/* These are for the footer */
.center {
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0px;
    background-color: rgb(226, 226, 226);
    height: 40px;
}
.centerText {
    text-align: center;
}

/* these change font in Nav Bar */
.fontChange {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
}

.fontChangeBold {
    font-family: 'IBM Plex Sans', sans-serif;
}

@media (max-width: 576px) {
    * {
        /* background-color: blue; */
    }
}

/* Dragula CSS */

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
  }
  .gu-hide {
    display: none !important;
  }
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }